PORT = 8080

CLOUDINARY_CLOUD_NAME = <si se usa cloudinary>
CLOUDINARY_API_KEY = <api_key_cloudinay>
CLOUDINARY_API_SECRET = <api_secret_cloudinary>

DB_USERNAME=
DB_PASSWORD= 
DB_HOST=
DB_PORT=
DB_DIALECT='postgres'
DB_DATABASE='chartsWithRefine'